@media (max-width: 768px) {
body, html {
    font-size: 12px;
}

button {
    all: unset;
}

/* ----------기본 폰트 스타일---------- */

h1 {
    color: #ffffff;
    font-family: "Noto Serif KR";
    font-size: 4em;
    font-weight: bold;
    line-height: 1.2em;
}
h2 {
    font-size: 2em;
    line-height: 1.4em;
}
h3 {
    font-size: 2.4em;
    text-align: center;
}
h4 {
    font-size: 1.8em;
    text-align: center;
}

/* ----------기본 폰트 스타일 끝---------- */

/* ----------네비게이션 헤더 : 메뉴---------- */

header {
    background: #fff;
    padding: 0.95em 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.jworkslogo {
    width: 2rem;
    height: auto;
    position: sticky;
}

.nevigation {
    display: none
}

.hamburger-button {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    height: 3em;
    justify-content: center;
}

.menu-line {
    height: 0.24em;
    overflow: hidden;
    position: relative;
    width: 2.2em;
    background-color: black;
    border-radius: 5em;
    transform: none;
    transform-origin: 50% 50% 0px;
    will-change: transform;
}

/* ----------네비게이션 헤더 : 메뉴 끝---------- */



/* ----------메인화면(Home)---------- */

.main-title {
    width: 90%;
    gap: 2.5em;
}

/* ----------메인화면(Home) 끝---------- */


/* ----------회사 소개(Introduction)---------- */

.intro-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
    position: relative;
}

.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.line-dott {
    margin: 1em 0;
}

.intro-content {
    width: 80%;
    min-width: 30em;
}

.intro-content-comment {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
}

.intro-content-company-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 0.6em;
}

.intro-content-company-info-text {
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.intro-image {
    width: 20em;
    height: 20em;
}
.rectangle-R {
    width: 18em;
    height: 18em;
}
.rectangle-W {
    width: 18em;
    height: 18em;
}
.jworkslogo-intro {
    width: 6.5em;
    height: auto;
}
.light-rotate-0 {
    width: 0.08em;
    height: 2.4em;
    filter: blur(2px);
}

.light-rotate-90 {
    width: 0.08em;
    height: 2.4em;
    filter: blur(2px);
}

.light-rotate-45 {
    width: 0.08em;
    height: 2.4em;
    filter: blur(2px);
}

.light-rotate--45 {
    width: 0.08em;
    height: 2.4em;
    filter: blur(2px);
}

/* ----------회사 소개(Introduction) 끝---------- */


/* ----------인사말(Greeting)---------- */

.speech-bubble {
    border-radius: 3em;
    height: 80vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 4em;
}

.speech-bubble-tail {
    width: 3.6em; 
    height: 3.6em; 
}

.title-deco {
    width: 100%;
    height: 10%;
}

.ellipse-fill {
    display: none;
}

.ellipse-stroke {
    background: #c4121a;
    border-radius: 50%;
    flex-shrink: 0;
    width: 1.2em;
    height: 1.2em;
    position: relative;
}

.greeting-content {
    width: 95%;
}

/* ----------인사말(Greeting) 끝---------- */


/* ----------기본원칙(Principle)---------- */

#Principle {
    width: 100%;
    height: 150vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-masking {
    height: 90%;
    justify-content: flex-start;
    align-items: center;
}
.mask-group {
    width: 27em;
    height: 27em;
}
.priciple-board {
    height: 90%;
}

.principle-title {
    align-items: center;
    gap: 1em;
}

.priciple-content {
    display: none;
}
.priciple-content-mobile {
    width: 100%;
    color: #000000;
    font-size: 1.25em;
    font-weight: 400;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.principle-card-list {
    height: 90%;
    flex-direction: column;
}
.principle-card-group {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}
.principle-card {
    width: 100%;
    height: 45%;
    padding: 0 3em 0;
    flex-direction: row;
    align-items: center;
}
.principle-card-icon {
    width: 4.5em;
    height: 4.5em;
    position: relative;
}

.principle-card-content {
    width: 55%;
    height: 60%;
    align-items: center;
    justify-content: space-around;
}
.card-name {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-name-ko {
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
}
.card-name-en {
    font-size: 1.2em;
    text-align: center;
    min-height: 2em;
    justify-content: center;
    align-items: center;
}
.card-explain {
    font-size: 0.95em;
    text-align: center;
    min-height: 2em;
}

/* ----------기본원칙(Principle) 끝---------- */


/* ----------비즈니스 영역(Business-area)---------- */

#Business-area {
    height: 150vh;
}

.business-area-board {
    height: 95%;
    justify-content: space-between;
}

.business-area-card-list {
    height: 95%;
    justify-content: space-around;
}

.business-area-card-group {
    height: 48%;
    flex-direction: column;
    justify-content: space-between;
}

.business-area-card {
    width: 100%;
    height: 48%;
    /* padding: 0.5em; */
    /* gap: 0.5em; */
}

.card-title {
    min-width: none;
}
.card-base-third {
    max-width: none;
    font-size: 1em;
}
.card-base-half {
    max-width: none;
    font-size: 1em;
}


/* ----------비즈니스 영역(Business-area) 끝---------- */


/* ----------포트폴리오(Portfolio)---------- */

#Portfolio {
    height: 150vh;
}
.portfolio-board {
    height: 95%;
}
.portfolio-card-list {
    display: none;
}
.portfolio-card-list-mobile {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.portfolio-card {
    width: 100%;
    height: 9.2%;
    padding: 1em 3em 1em;
    justify-content: space-between;
}
.portfolio-card div.card-img {
    width: 32%;
    max-width: 10em;
    justify-content: center;
}
.portfolio-card img.card-img {
    width: 100%;
    min-width: 5em;
    max-width: 10em;
}
.portfolio-card p {
    width: 40%;
    font-size: 1.25em;
    text-align: end;
}

/* ----------포트폴리오(Portfolio) 끝---------- */

}

































@media (min-width: 769px) and (max-width: 1024px) {
body {
    font-size: 14px;
}

.menu {
    font-size: 0.98em;
}

/* ----------회사 소개(Introduction)---------- */

.intro-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
    position: relative;
}

.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.line-dott {
    margin: 1em 0;
}

.intro-content {
    width: 80%;
    min-width: 31.25em;
}

.intro-content-comment {
    text-align: center;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
}

.intro-content-company-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 5em;
}

.intro-content-company-info-text {
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.intro-image {
    width: 25em;
    height: 26em;
}
.rectangle-R {
    width: 20em;
    height: 20em;
}
.rectangle-W {
    width: 20em;
    height: 20em;
}
.jworkslogo-intro {
    width: 7.25em;
    height: auto;
}
.light-rotate-0 {
    width: 0.1em;
    height: 3em;
}

.light-rotate-90 {
    width: 0.1em;
    height: 3em;
}

.light-rotate-45 {
    width: 0.1em;
    height: 3em;
}

.light-rotate--45 {
    width: 0.1em;
    height: 3em;
}

/* ----------회사 소개(Introduction) 끝---------- */


/* ----------인사말(Greeting)---------- */

.speech-bubble-tail {
    width: 4em; 
    height: 4em; 
}
.speech-bubble-tail-shadow {
    opacity: 0.8;
    width: 5em; 
    height: 5em; 
    margin-left: 6%;
}
div.greeting {
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.ellipse-fill {
    display: none;
}

.ellipse-stroke {
    background: #c4121a;
    border-radius: 50%;
    flex-shrink: 0;
    width: 1.2em;
    height: 1.2em;
    position: relative;
}

.greeting-content {
    width: 90%;
}

/* ----------인사말(Greeting) 끝---------- */


/* ----------기본원칙(Principle)---------- */

.principle-card-list {
    width: 100%;
    height: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2em;
}
.principle-card-group {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.principle-card {
    padding: 2.4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15%;
}
.principle-card-icon {
    width: 3.2em;
    height: 3.2em;
    position: relative;
}
.principle-card-content {
    min-height: 7.5em;
}

/* ----------기본원칙(Principle) 끝---------- */


/* ----------포트폴리오(Portfolio)---------- */

.portfolio-card-third {
    gap: 1.5em;
}
.portfolio-card, .portfolio-card-third {
    padding: 1em 1.25em 1em;
}

/* ----------포트폴리오(Portfolio) 끝---------- */

}








@media (min-width: 1440px) {
    body {
        font-size: 20px;
    }
}

@media (max-width: 426px) {
    body {
        font-size: 10px;
    }
}